body{
    font-family: sans-serif;
    background-color: aqua;
}

h1{
    font-size: 50px;
    text-align: center;
    color: white;
}

ul{
    list-style: none;
    margin-left: 23%;
    max-width: 900px;
    text-align: center;
    padding: 0;
    display: inline-block;
}

ul li{
    padding: 5px;
    background-color: ivory;
    margin: 0px;
    display: inline-block;
}

a{
    text-decoration: none;
}

ul li img{
    width: 130px;
    height: 100px;
    margin-left: 0;
    display: block;
}